<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manager.dao.ApplicationRoleMapper" >
  <resultMap id="BaseResultMap" type="com.example.manager.pojo.ApplicationRole" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APPLICATION_ID" property="applicationId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DECIMAL" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_NAME" property="updateName" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DEL_STATUS" property="delStatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APPLICATION_ID, NAME, DESCRIPTION, IS_EFFECTIVE, ORDER_NUM, CREATE_ID, CREATE_NAME,
    CREATE_TIME, UPDATE_ID, UPDATE_NAME, UPDATE_TIME, DEL_STATUS
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APPLICATION_ROLE
    where ID = #{id,jdbcType=VARCHAR} and DEL_STATUS = 0
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from APPLICATION_ROLE and DEL_STATUS = 0
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    update APPLICATION_ROLE set DEL_STATUS = 1
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.example.manager.pojo.ApplicationRole" keyProperty="id" useGeneratedKeys="true">
    insert into APPLICATION_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="applicationId != null" >
        APPLICATION_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createName != null" >
        CREATE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateName != null" >
        UPDATE_NAME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="delStatus != null" >
        DEL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.example.manager.pojo.ApplicationRole" >
    update APPLICATION_ROLE
    <set >
      <if test="applicationId != null" >
        APPLICATION_ID = #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        DEL_STATUS = #{delStatus,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--新增sql-->
  <update id="hiddenById" parameterType="com.example.manager.pojo.ApplicationRole">
    update PLATFORM_APPLICATION_ROLE
    <set>
      <if test="status == 1">status = 0</if>
      <if test="status == 0">status = 1</if>
    </set>
    where id = #{id}
  </update>

  <!--分页查询-->
  <select id="getPage" resultMap="BaseResultMap" parameterType="com.example.manager.vo.PageQuery">
    SELECT *
    FROM (SELECT tt.*, ROWNUM AS rowno
    FROM (  SELECT t.<include refid="Base_Column_List"/>
    FROM APPLICATION_ROLE_RESOURCES t where DEL_STATUS = 0) tt
    WHERE ROWNUM &lt;= #{pageMaxNum}) table_alias
    WHERE table_alias.rowno &gt; #{pageMinNum}
  </select>

  <!--获取数量-->
  <select id="getCount" resultType="java.lang.Integer">
    select count(id) from APPLICATION_ROLE where DEL_STATUS = 0
  </select>

  <!--删除应用时把角色中的应用id置为0-->
  <update id="updateApplicationId" parameterType="java.lang.String">
    update APPLICATION_ROLE set DEL_STATUS = 1
    where APPLICATION_ID = #{applicationId}
  </update>

  <!--删除关联表-->
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    update APPLICATION_ROLE_RESOURCES set DEL_STATUS = 1
    where ROLE_ID = #{roleId}
  </delete>

  <!--获取当前的序列号-->
  <select id="getNextVal" resultType="java.lang.Long">
    select quenceRole.nextval as id from dual
  </select>

</mapper>