<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manager.dao.ApplicationGroupRelationMapper" >
  <resultMap id="BaseResultMap" type="com.example.manager.pojo.ApplicationGroupRelation" >
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="APPLICATION_ID" property="applicationId" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DECIMAL" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_NAME" property="updateName" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DEL_STATUS" property="delStatus" jdbcType="DECIMAL" />
  </resultMap>

  <insert id="insert" parameterType="com.example.manager.pojo.ApplicationGroupRelation" >
    insert into APPLICATION_GROUP_RELATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="applicationId != null" >
        APPLICATION_ID,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createName != null" >
        CREATE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateName != null" >
        UPDATE_NAME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="delStatus != null" >
        DEL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <!--新增sql-->
  <!--应用组id查询数据信息-->
  <select id="getByGroupId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from APPLICATION_GROUP_RELATION
    where DEL_STATUS = 0 and GROUP_ID = #{groupId}
  </select>
</mapper>