<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manager.dao.ApplicationRoleMapper" >
  <resultMap id="BaseResultMap" type="com.example.manager.pojo.ApplicationRole" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="APPLICATION_ID" property="applicationId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APPLICATION_ID, NAME, REMARK, STATUS
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from PLATFORM_APPLICATION_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PLATFORM_APPLICATION_ROLE
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from PLATFORM_APPLICATION_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.example.manager.pojo.ApplicationRole" >
    insert into PLATFORM_APPLICATION_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="applicationId != null" >
        APPLICATION_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.example.manager.pojo.ApplicationRole" >
    update PLATFORM_APPLICATION_ROLE
    <set >
      <if test="applicationId != null" >
        APPLICATION_ID = #{applicationId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <!--新增sql-->
  <update id="hiddenById" parameterType="java.lang.Long">
    update PLATFORM_APPLICATION_ROLE set STATUS = 1 where id = #{id}
  </update>

  <!--分页查询-->
  <select id="getPage" resultMap="BaseResultMap" parameterType="com.example.manager.vo.PageQuery">
    SELECT *
    FROM (SELECT tt.*, ROWNUM AS rowno
    FROM (  SELECT t.<include refid="Base_Column_List"/>
    FROM PLATFORM_APPLICATION_ROLE t) tt
    WHERE ROWNUM &lt;= #{pageMaxNum}) table_alias
    WHERE table_alias.rowno &gt; #{pageMinNum}
  </select>

  <!--获取数量-->
  <select id="getCount" resultType="java.lang.Integer">
    select count(id) from PLATFORM_APPLICATION_ROLE
  </select>

  <!--删除应用时把角色中的应用id置为0-->
  <update id="updateApplicationId" parameterType="java.lang.Long">
    update PLATFORM_APPLICATION_ROLE set APPLICATION_ID = 0
    where APPLICATION_ID = #{applicationId}
  </update>

  <!--删除关联表-->
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    delete from PLATFORM__MESSAGE_RESOUCE_ROLE
    where ROLE_ID = #{roleId}
  </delete>

</mapper>