<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manager.dao.ApplicationMessageMapper" >
  <resultMap id="BaseResultMap" type="com.example.manager.pojo.ApplicationMessage" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="SIMPLE_NAME" property="simpleName" jdbcType="VARCHAR" />
    <result column="MAIN_ENTRY" property="mainEntry" jdbcType="VARCHAR" />
    <result column="FROM_WHERE" property="fromWhere" jdbcType="VARCHAR" />
    <result column="APPLICATION_ICON" property="applicationIcon" jdbcType="VARCHAR" />
    <result column="UNIFY_ACCESS" property="unifyAccess" jdbcType="DECIMAL" />
    <result column="DEPLOYMENT_TIME" property="deploymentTime" jdbcType="VARCHAR" />
    <result column="MAX_CONCURRENT" property="maxConcurrent" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="RENEW_TIME" property="renewTime" jdbcType="TIMESTAMP" />
    <result column="STOP_TIME" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DECIMAL" />
    <result column="ADMIN_ID" property="adminId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="AUTHENTICATION" property="authentication" jdbcType="DECIMAL" />
    <result column="WEB_START_URL" property="webStartUrl" jdbcType="VARCHAR" />
    <result column="COMMAND_LINE" property="commandLine" jdbcType="VARCHAR" />
    <result column="INIT_SCRIPT" property="initScript" jdbcType="VARCHAR" />
    <result column="AUTO_FILE" property="autoFile" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_NAME" property="updateName" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DEL_STATUS" property="delStatus" jdbcType="DECIMAL" />
    <result column="LOGO" jdbcType="VARCHAR" property="logo" />
    <result column="TITTLE" jdbcType="VARCHAR" property="tittle" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, FULL_NAME, VERSION, SIMPLE_NAME, MAIN_ENTRY, FROM_WHERE, APPLICATION_ICON, UNIFY_ACCESS,
    DEPLOYMENT_TIME, MAX_CONCURRENT, STATUS, DESCRIPTION, RENEW_TIME, STOP_TIME, ORDER_NUM,
    ADMIN_ID, TYPE, AUTHENTICATION, WEB_START_URL, COMMAND_LINE, INIT_SCRIPT, AUTO_FILE,
    CREATE_ID, CREATE_NAME, CREATE_TIME, UPDATE_ID, UPDATE_NAME, UPDATE_TIME, DEL_STATUS,
    SERIAL_NUMBER,LOGO, TITTLE, NAME
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from APPLICATION_INFO
    where ID = #{id,jdbcType=VARCHAR} and DEL_STATUS = 0
  </select>

  <select id="getStrById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from APPLICATION_INFO
    where ID = #{id,jdbcType=VARCHAR} and DEL_STATUS = 0
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from APPLICATION_INFO where DEL_STATUS = 0 ORDER BY ORDER_NUM
    <!--select a.type,a.id from application_info a ,( SELECT
          o.id
        FROM
         application_info o
        ORDER BY
          o.order_num DESC) b where a.id=b.id group by a.type ,a.id-->
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    update APPLICATION_INFO set DEL_STATUS = 1
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.example.manager.pojo.ApplicationMessage" keyProperty="id" useGeneratedKeys="true">
    <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
      SELECT APPLICATION_INFO_SQE.nextval AS id FROM dual
    </selectKey>
    insert into APPLICATION_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fullName != null" >
        FULL_NAME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="simpleName != null" >
        SIMPLE_NAME,
      </if>
      <if test="mainEntry != null" >
        MAIN_ENTRY,
      </if>
      <if test="fromWhere != null" >
        FROM_WHERE,
      </if>
      <if test="applicationIcon != null" >
        APPLICATION_ICON,
      </if>
      <if test="unifyAccess != null" >
        UNIFY_ACCESS,
      </if>
      <if test="deploymentTime != null" >
        DEPLOYMENT_TIME,
      </if>
      <if test="maxConcurrent != null" >
        MAX_CONCURRENT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="renewTime != null" >
        RENEW_TIME,
      </if>
      <if test="stopTime != null" >
        STOP_TIME,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="adminId != null" >
        ADMIN_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="authentication != null" >
        AUTHENTICATION,
      </if>
      <if test="webStartUrl != null" >
        WEB_START_URL,
      </if>
      <if test="commandLine != null" >
        COMMAND_LINE,
      </if>
      <if test="initScript != null" >
        INIT_SCRIPT,
      </if>
      <if test="autoFile != null" >
        AUTO_FILE,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createName != null" >
        CREATE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateName != null" >
        UPDATE_NAME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="delStatus != null" >
        DEL_STATUS,
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="logo != null">
        LOGO,
      </if>
      <if test="tittle != null">
        TITTLE,
      </if>
      <if test="name != null">
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="mainEntry != null" >
        #{mainEntry,jdbcType=VARCHAR},
      </if>
      <if test="fromWhere != null" >
        #{fromWhere,jdbcType=VARCHAR},
      </if>
      <if test="applicationIcon != null" >
        #{applicationIcon,jdbcType=VARCHAR},
      </if>
      <if test="unifyAccess != null" >
        #{unifyAccess,jdbcType=DECIMAL},
      </if>
      <if test="deploymentTime != null" >
        #{deploymentTime,jdbcType=VARCHAR},
      </if>
      <if test="maxConcurrent != null" >
        #{maxConcurrent,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="renewTime != null" >
        #{renewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="authentication != null" >
        #{authentication,jdbcType=DECIMAL},
      </if>
      <if test="webStartUrl != null" >
        #{webStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="commandLine != null" >
        #{commandLine,jdbcType=VARCHAR},
      </if>
      <if test="initScript != null" >
        #{initScript,jdbcType=VARCHAR},
      </if>
      <if test="autoFile != null" >
        #{autoFile,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=DECIMAL},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="tittle != null">
        #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.example.manager.pojo.ApplicationMessage" >
    update APPLICATION_INFO
    <set >
      <if test="fullName != null" >
        FULL_NAME = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="mainEntry != null" >
        MAIN_ENTRY = #{mainEntry,jdbcType=VARCHAR},
      </if>
      <if test="fromWhere != null" >
        FROM_WHERE = #{fromWhere,jdbcType=VARCHAR},
      </if>
      <if test="applicationIcon != null" >
        APPLICATION_ICON = #{applicationIcon,jdbcType=VARCHAR},
      </if>
      <if test="unifyAccess != null" >
        UNIFY_ACCESS = #{unifyAccess,jdbcType=DECIMAL},
      </if>
      <if test="deploymentTime != null" >
        DEPLOYMENT_TIME = #{deploymentTime,jdbcType=VARCHAR},
      </if>
      <if test="maxConcurrent != null" >
        MAX_CONCURRENT = #{maxConcurrent,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="renewTime != null" >
        RENEW_TIME = #{renewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        STOP_TIME = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="adminId != null" >
        ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="authentication != null" >
        AUTHENTICATION = #{authentication,jdbcType=DECIMAL},
      </if>
      <if test="webStartUrl != null" >
        WEB_START_URL = #{webStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="commandLine != null" >
        COMMAND_LINE = #{commandLine,jdbcType=VARCHAR},
      </if>
      <if test="initScript != null" >
        INIT_SCRIPT = #{initScript,jdbcType=VARCHAR},
      </if>
      <if test="autoFile != null" >
        AUTO_FILE = #{autoFile,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        DEL_STATUS = #{delStatus,jdbcType=DECIMAL},
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        LOGO = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="tittle != null">
        TITTLE = #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--新增sql-->
  <!--禁用启用应用信息-->
  <update id="hiddenById" parameterType="com.example.manager.pojo.ApplicationMessage" >
    update PLATFORM_APPLICATION_MESSAGE
    <set>
      <if test="status == 1">status = 0</if>
      <if test="status == 0">status = 1</if>
    </set>
    where id = #{id}
  </update>

  <!--分页查询-->
  <select id="getPage" resultMap="BaseResultMap" parameterType="com.example.manager.vo.PageQuery">
    SELECT *
    FROM (SELECT tt.*, ROWNUM AS rowno
    FROM (  SELECT t.<include refid="Base_Column_List"/>
    FROM APPLICATION_INFO t where DEL_STATUS = 0
    ORDER BY ORDER_NUM DESC) tt
    WHERE ROWNUM &lt;= #{pageMaxNum}) table_alias
    WHERE table_alias.rowno &gt; #{pageMinNum}
  </select>

  <!--查询总的数量-->
  <select id="getCount" resultType="java.lang.Integer">
    select count(id) from APPLICATION_INFO where DEL_STATUS = 0
  </select>

  <!--删除关联表中数据-->
  <delete id="deleteByApplicationId" parameterType="java.lang.String">
    update APPLICATION_ROLE_RESOURCES set DEL_STATUS = 1
    where APPLICATION_ID = #{applicationId}
  </delete>

  <resultMap id="BaseResultMap1" type="com.example.manager.pojo.ApplicationMessage" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="SIMPLE_NAME" property="simpleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List1" >
    ID, SERIAL_NUMBER, FULL_NAME, SIMPLE_NAME
  </sql>
  <!--获取所有应用的名称与编号-->
  <select id="getAllMessageName" resultMap="BaseResultMap1">
    select <include refid="Base_Column_List1"/>
    from APPLICATION_INFO and DEL_STATUS = 0
  </select>

</mapper>