<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manager.dao.MessageResourceRoleMapper" >
  <resultMap id="BaseResultMap" type="com.example.manager.pojo.MessageResourceRole" >
    <result column="APPLICATION_ID" property="applicationId" jdbcType="DECIMAL" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
  </resultMap>

  <insert id="insert" parameterType="com.example.manager.pojo.MessageResourceRole" >
    insert into PLATFORM__MESSAGE_RESOUCE_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applicationId != null" >
        APPLICATION_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applicationId != null" >
        #{applicationId,jdbcType=DECIMAL},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.example.manager.pojo.MessageResourceRole" >
    update PLATFORM__MESSAGE_RESOUCE_ROLE
    <set >
      <if test="resourceId != null" >
        RESOURCE_ID = #{resourceId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
    </set>
    where application_id = #{applicationId,jdbcType=DECIMAL}
  </update>
</mapper>